@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body{
    background-color: #1EA4D9;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

header{
    background-color: #13698b;
}

.marginLeft{
    margin-left: 10px;
}

.logoPrincipal{
    width: 150px;
    height: 150px;
}

.iconoHeader{
    width: 25px;
    height: 25px;
   
}

.alineacionHeader{
    align-self: flex-end;
}

.iconoNav{
    width: 30px;
    height: 30px;
}

.letraNav{
    color: white;
}

.banner{
    height: 115vh;
    width: 15vw;
    object-fit: cover;
}

.gridOpciones {
    display: grid;   
    grid-template-columns: repeat(5, 170px);
    
    grid-template-areas: "todos enDirecto finalizado proximos calendario" ;
}

.margenPalabrasNav{
    align-self: center;
    margin-left: 15px;
    margin-bottom: 0px;
    
}

.ml-2{
    margin-left: 1rem;
}



.alineacion{
    text-align: center;
    margin-left: 80px;
    border-radius: 20px;
    background-color: #1EA4D9;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 90px;
}

.bordeMain{
    border-radius: 25px;
    padding: 15px;
}


.alineacionNav{
    text-align: center;
}

.bordeNav{
    border-radius: 20px;
    background-color: #1EA4D9;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}


.plus{
    margin-left: 90px;
    
}

.enDirecto{
    grid-area: b;
}

.finalizado{
    grid-area: c;
}

.proximos{
    grid-area: d;
}

.calendario{
    grid-area: e;
    text-align: end;
}

.gridEventos{
    display: grid;
    grid-template-columns: 825px;
    grid-template-rows: repeat(3, 30px);
    grid-template-areas: "deporte" "pais" "resultado";
    border-style: ridge;
    
}

.deporte{
    grid-area: deporte;
}

.pais{
    grid-area: pais;
}

.evento{
    grid-area: resultado;
}

.logoFooter{
    width: 25px;
    height: 25px;
}